
<div class="jumbotron mt-40">
  <h1 class="display-4">Bienvenue!</h1>
  <p class="lead">Dieunde est la plateforme de vente en ligne au Sénégal</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<h2>Produits</h2>
