<h1>Admin Page</h1>

<h2>Produits</h2>

<% @produits.each do |produit|%>
<div class="container">

<%= produit.nom %>
<%= produit.description %>
<%= button_to "Confirmer", class: "btn-primary", method: 'post' %>
</div>

<% end %>
