// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron {
  background: grey;
  padding: 40px 0;
}

nav ul.navbar-nav {
  margin-right: auto;
}

.card .produit {
  margin: 10px;
  width: 100%;
  display: "flex";
}

.card-img-top {
  width: 50%;
  img {
  }
}
